# Copyright 2020 Marius Wilms, Christoph Labacher. All rights reserved.
# Copyright 2018 Atelier Disko. All rights reserved.

# See http://editorconfig.org/ on how to put this file to good use.

root = true

[*]
end_of_line = lf
charset = utf-8

[*.{js,css,html}]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
