{
  "extends": ["eslint:recommended", "react-app"],
  "parser": "babel-eslint",
  "plugins": ["notice"],
  "env": {"browser": true, "es6": true},
  "rules": {
    "notice/notice": [
      "error",
      {
        "mustMatch": "Copyright [0-9]{0,4} Marius Wilms, Christoph Labacher",
        "template": "/**\n * Copyright <%= YEAR %> Marius Wilms, Christoph Labacher. All rights reserved.\n *\n * Use of this source code is governed by a BSD-style\n * license that can be found in the LICENSE file.\n */\n"
      }
    ]
  }
}
