# Copyright 2020 Marius Wilms, Christoph Labacher. All rights reserved.
# Copyright 2017 Atelier Disko. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

dist
!empty
_*
*.prof
dsk
!cmd/dsk
dsk.test
.DS_Store
node_modules
frontend/build
internal/frontend/vfsdata.go
frontend/package-lock.json
