# Copyright 2017 Atelier Disko. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

/dsk
dist
!empty
_*
node_modules
package-lock.json
cpu.prof
mem.prof
dsk.test
.DS_Store
