/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* --- Variables --- */

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue: #001DFF; /* Electric Blue */
  --color-cyan: #52D0AF; /* Toothpaste Green */

  --color-gray-200: #404040; /* Gray-200 25% */
  --color-gray-500: #808080; /* Gray-500 50% */
  --color-gray-600: #999999; /* Gray-600 60% */
  --color-gray-800: #D9D9D9; /* Gray-800 85% */
  --color-gray-900: #E6E6E6; /* Gray-900 90% */
  --color-gray-1000: #F7F7F7; /* Gray-1000 97% */

  /* Font Families */
  --font-family-sans: -apple-system, "Neuzeit S LT Std", Helvetica, sans-serif;
  --font-family-mono: "SF Mono", Menlo, monospace;

  /* Spacing */
  --spacing-base-unit: 8;
}

/* --- Reset --- */

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* --- General --- */

html {
  font-size: 8px;
}

body {
  display: grid;
  grid-template-columns: minmax(min-content, calc(36px * var(--spacing-base-unit)))
  minmax(min-content, auto);
  grid-template-areas:
    "sidebar main";
  height: 100vh;


  /* .t-gamma-sans */
  font-family: var(--font-family-sans);
  font-size: 16px;
  line-height: 28px;
  color: var(--color-black);
}

.hide {
  display: none;
}

@media print {
  body {
    display: block;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
  }
}


/* --- Sidebar --- */

.sidebar {
  grid-area: sidebar;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar__header {
  flex-grow: 0;
  flex-shrink: 0;

  background-color: var(--color-blue);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 56px;
}

.sidebar__title,
.sidebar__title a {
  color: var(--color-white);
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 1rem;
  text-decoration: none;
}

@media print {
  .sidebar {
    display: none;
  }
}

/* --- Main --- */

.main-wrapper {
  grid-area: main;
  overflow-y: auto;
}

.main {
  display: grid;
  grid-template-columns:
    minmax(0, calc(110px * var(--spacing-base-unit)))
    minmax(min-content, calc(30px * var(--spacing-base-unit)));
  grid-column-gap: calc(7px * var(--spacing-base-unit));
  grid-row-gap: calc(7px * var(--spacing-base-unit));
  grid-auto-rows: minmax(min-content, max-content);
  overflow-y: auto;
  max-width: calc(163px * var(--spacing-base-unit));
  margin: 0 auto;
  padding: calc(8px * var(--spacing-base-unit));
}


.title-container {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(-2px * var(--spacing-base-unit));
}

.description-container {
  grid-row: 2/3;
  grid-column: 1/2;
}

.tab-container {
  grid-row: 3/4;
  grid-column: 1/2;
}

.meta-data-container {
  grid-row: 2/3;
  grid-column: 2/3;
}

.meta-data-container__title {
  color: var(--color-gray-600);
  text-transform: uppercase;
}

.meta-data-container__info {
  color: var(--color-gray-200);
  margin-top: 0;
  margin-bottom: calc(2px * var(--spacing-base-unit));
}

.main .title {
  color: var(--color-gray-200);
}

.main .description {
  color: var(--color-gray-200);
  max-width: 650px;
}

@media print {
  .main .title {
    font-size: 35px;
  }
  .main .description {
    font-size: 20px;
  }
}

/* --- Crumbs --- */

.crumbs {
  list-style: none;
  min-height: 2rem;
  margin-bottom: calc(2px * var(--spacing-base-unit));
}

.crumbs__crumb {
  display: inline;
}
.crumbs__crumb:after {
  color: var(--color-gray-600);
  content: " / ";
}
.crumbs__crumb:last-child {
  /* Hide the current node */
  display: none;
}

.crumbs__crumb a {
  color: var(--color-gray-600);
  text-decoration: none;
  transition: color .2s;
}
.crumbs__crumb a:hover {
  color: var(--color-blue);
}


/* --- Info --- */

.info {
  display: flex;
  flex-direction: column;
  grid-row: 4/5;
  grid-column: 1/2;
}

.docs {
  width: 100%;
}

/* --- Downloads --- */

.downloads {
  grid-row: 4/5;
  grid-column: 2/3;
}

.downloads__headline {
  text-transform: uppercase;
  color: var(--color-gray-600);
  margin-bottom: calc(2px * var(--spacing-base-unit));
  margin-top: 0;
}

.downloads__item {
  margin-bottom: calc(2px * var(--spacing-base-unit));
  list-style-type: none;
}

.downloads__item a {
  display: block;
  text-decoration: none;
}

.downloads__item:before {
  content: "↓";
  color: var(--color-gray-800);
  display: inline-block;
  position: absolute;
  left: -1.2em;
}

.downloads__item-title {
  color: var(--color-gray-200);
  text-decoration: none;
}

.downloads__item-info {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-gray-600);
  font-weight: normal;
}

@media print {
  .downloads {
    display: none;
  }
}



