<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
		<script>
			window.parent.postMessage({
				id: '{{ .Id }}',
				status: 'ready',
			}, '*');
		</script>
		<style>
			body {
				overflow: hidden;
			}
		</style>
		<link href="{{.CSSRoot}}" rel="stylesheet"></link>
		<script src="{{.JSRoot}}" type="module"></script>
	</head>
	<body data-id="{{ .Id }}">
		<div id="root"></div>
	</body>
</html>

