{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {"browser": true},
  "rules": {
    "import/no-named-as-default-member": "off",
    "import/extensions": "off",
    "react/prop-types": "off",
    "no-console": "off",
    "prefer-destructuring": "off",
    "prefer-const": "off",
    "react/jsx-filename-extension": "off",
    "react/no-multi-comp": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "no-continue": "off",
	"no-use-before-define": "off",
	"no-restricted-globals": "off",
  }
}
