<!DOCTYPE html>
<html>
	<head>
		<title>DSK/{{.ProjectName}}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/assets/css/base.css">

		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6&rum=0"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="/assets/js/fuse.js"></script>
		<script src="/assets/js/tree.js"></script>
		<script src="/assets/js/index.js"></script>
		<link rel="icon" href="/assets/ico/app.png">
	</head>
	<body>
		<aside>
			<header>
				<div class="title">DSK / <b><a href="/">{{ .ProjectName}}</a></b></div>

				<div class="search">
					<input class="search__field" autofocus=true>
					<div class="search__clear">×</div>
				</div>
			</header>
			<nav class="tree-nav"></nav>
		</aside>
		<main>

		</main>
	</body>
</html>