<!DOCTYPE html>
<html>
	<head>
		<title>DSK/{{ .ProjectName }}</title>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/assets/css/base.css">
		<script type="text/javascript" src="/assets/js/fuse.js"></script>
		<script type="text/javascript" src="/assets/js/index.js"></script>
		<link rel="icon" href="/assets/ico/app.png">
	</head>
	<body>
		<aside>
			<header>
				<div class="title">DSK / <b>{{ .ProjectName }}</b></div>
				<input class="search">
			</header>
			<nav class="tree-nav"></nav>
		</aside>
		<main>
			Welcome to DSK, click one of the items to the left.
		</main>
	</body>
</html>
