<nav class="crumbs-nav">
{{range $url, $title := .N.Crumbs}}
	<a href="{{$url}}" class="crumbs-nav__crumb">{{$title}}</a>
{{end}}
</nav>

<h1>{{.N.Title}}</h1>

<section class="description">
	{{.N.Meta.Description}}
</section>

<section class="keywords">
	<ul>
	{{range $index, $keyword := .N.Meta.Keywords}}
		<li class="keyword">{{$keyword}}</li>
	{{end}}
	</ul>
</section>

{{if .N.HasComponent}}
<iframe class="component-stage" src="/embed/{{.N.URL}}"></iframe>
{{end}}

<div class="info">
	{{if .N.HasGeneralDoc}}
	<section class="general-doc text">
		{{.N.GeneralDoc}}
	</section>
	{{end}}

	{{if .N.HasGeneralDoc}}
	<section class="files text">
		<!-- <h1>Dateien</h1> -->
	</section>
	{{end}}
</div>

<section class="demos text">
	<h1>Demos</h1>

	{{range $name := .N.DemoNames}}
			<h2>{{$name}}</h2>
			<iframe class="component-stage" src="/embed/{{$.N.URL}}:{{$name}}"></iframe>
	{{end}}
</section>

{{if .N.HasAPIDoc}}
<section class="api-doc text">
	{{.N.APIDoc}}
</section>
{{end}}