<nav class="crumbs-nav">
	{{range $url, $title := .N.Crumbs}}
	<a href="{{ $url }}" class="crumbs-nav__crumb">{{ $title }}</a>
	{{end}}
</nav>

<h1>{{ .N.Title }}</h1>

<section class="description">
	{{ .N.Meta.Description }}
</section>

<section class="keywords">
	<ul>
		{{range $index, $keyword := .N.Meta.Keywords}}
		<li>{{ $keyword }}</li>
		{{end}}
	<ul>
</section>

<iframe class="component-stage" src="/embed/{{ .N.URL }}"></iframe>

<section class="documentation text">
	{{ .N.Documentation }}
</section>

{{range $index, $demo := .N.Meta.Demo}}
<iframe class="component-stage" src="/embed/{{ $.N.URL }}:{{ $index }}"></iframe>
{{end}}


<section class="properties text">
	{{ .N.Properties }}
</section>
