<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{if .N.HasCSS}}
		<link rel="stylesheet" href="/embed/{{.N.URL}}.css">
		{{end}}
		{{if .N.HasJS}}
		<script>
			// Allow following loaded script to detect, that they are used for embedding.
			const INSIDE_DSK = true;
		</script>
		<script src="/embed/{{.N.URL}}.js"></script>
		<script>
			if (typeof window.renderComponent === "undefined") {
				console.error("No renderComponent function found.");
			} else {
				document.addEventListener('DOMContentLoaded', function() {
					renderComponent(
						document.getElementById('root'),
						{{.N.Import}},
						{{.PropSet}}
					)
				});
			}
		</script>
		{{end}}
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>