/*!
 * Copyright 2018 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */


 .search__field-wrapper {

}

.search__field {
  display: block;
  width: 100%;
  border: none;
  padding: 1.4rem 2rem 1.4rem 2rem;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
  border-radius: .5rem;
}

.search__field:focus {
  outline: none;
}

.search__clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-gray-800);
  border-radius: 50%;
  color: var(--color-white);
  line-height: 2.8rem;
  text-align: center;
  cursor: pointer;
}

.search__clear:hover {
  background-color: var(--color-blue);
}

.search__stats {
  margin-top: 1rem;
  margin-bottom: -1rem;
  margin-left: .5rem;
  font-size: 10px;
  color: white;
  display: none;
}
