/**
 * Copyright 2019 Atelier Disko. All rights reserved. This source
 * code is distributed under the terms of the BSD 3-Clause License.
 */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs__crumb {
  display: inline;
}

.breadcrumbs__crumb:after {
  color: var(--color-gray-600);
  content: " / ";
}

.breadcrumbs__crumb a {
  color: var(--color-gray-600);
  text-decoration: none;
  transition: color 0.2s;
}
.breadcrumbs__crumb a:hover {
  color: var(--color-blue);
}