/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */


/* Reset */

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Main */

html {
  font-size: 8px;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar main";
  height: 100vh;

  font-family: "Neuzeit S LT Std", sans-serif;
  font-size: 16px;
  line-height: 1em;
  color: #3D3D3D;
}

/* Sidebar */

aside {
  grid-area: sidebar;
  min-width: 220px;

  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

aside header {
  flex-grow: 0;
  flex-shrink: 0;

  background-color: #0E26FC;
  padding: 2rem;
  padding-top: 8rem;
}

aside header .title {
  color: white;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 1rem;
}

aside header .search {
  display: relative;
}

aside header .search-field {
  display: block;
  width: 100%;
  border: none;

  padding: 1.4rem 2rem .8rem 2rem;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;

  border-radius: .5rem;
}

aside header .search-field:focus {
  outline: none;
}

aside header .search-clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #CCCCCC;
  border-radius: 50%;
  color: white;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
}

aside nav {
  flex-grow: 1;
  overflow-y: auto;

  background-color: #F8F8F8;
  padding: 4rem 2rem;
}

/* All ul */

aside nav ul {
  margin-left: 3rem;
  list-style: none;
}

aside nav ul li a {
  text-decoration: none;
  color: inherit;
  transition: color .3s;
  width: 100%;
  display: inline-block;
  padding-top: 1.5rem;
}

aside nav ul li a:hover {
  color: #0E26FC;
}

/* Top Level ul */

aside nav > ul {
  margin-left: 0;
}

aside nav > ul > li {
  margin-bottom: 4rem;
  font-weight: bold;
}

/* Lower Level ul */

aside nav ul ul li {
  font-weight: 300;
}

aside nav ul ul li a::before {
  display: inline-block;
  content: "—";
  width: 1.3em;
  position: absolute;
  top: .7em;
  left: -1.3em;
}

aside nav ul ul li:hover > a::before {
  content: "→";
}

main {
  grid-area: main;
  padding: 8rem;
  overflow-y: auto;
}

/* Node */

.crumbs-nav {
  margin-bottom: 2rem;
}
.crumbs {
  list-style: none;
  font-size: 16px;
  line-height: 1em;
}
.crumbs__crumb {
  display: inline;
}
.crumbs__crumb + .crumbs__crumb:before {
  color: #B2B2B2;
  content: " / ";
}
.crumbs__crumb a {
  color: #B2B2B2;
  text-decoration: none;
}
.crumbs__crumb a:hover {
  color: #0E26FC;
}

h1 {
  font-size: 48px;
  line-height: 1.3em;
  margin-bottom: 4rem;
}

.description {
  font-size: 28px;
  line-height: 1.5em;
  margin-bottom: 2rem;
}

.keywords {
  user-select: none;
}

.keywords ul {
  list-style: none;
}

.keywords ul li {
  display: inline-block;
  background-color: #52D0AF;
  color: white;
  font-size: 10px;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .8em .8em .6em .8em;
  border-radius: .25rem;
}

.keyword {
  user-select: none;
  cursor: pointer;
}

.component-stage {
  display: block;
  width: 100%;
  min-height: 300px;
  background-color: #F2F2F2;
  border: none;
  margin: 6rem 0;
}

.info {
  display: flex;
  margin: 8rem 0;

}

.general-doc {
  line-height: 1.5em;
  max-width: 600px;
  flex-grow: 1;
}

.files {
  padding-left: 6rem;
  flex-grow: 0;
}

.api-doc {
  line-height: 1.5em;
  margin-top: 8rem;
}

.text h1 {
  font-size: inherit;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.text h2 {
  font-size: 12px;
  color: #848484;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 3rem;
  margin-bottom: .5rem;
}

.text h1:first-child, .text h2:first-child {
  margin-top: 0;
}

.text p {
  margin-bottom: 1.5rem;
}

.text p:last-child {
  margin-bottom: 0;
}

.text a {
  color: inherit;
}

.text ul {
  margin-left: -4rem;
}

.text ul ul {
  margin-left: 0;
}

.text ul li {
  margin-left: 4rem;
}

.text table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

.text table:last-child {
  margin-bottom: 0;
}

.text table td, .text table th {
  text-align: left;
  padding: 1rem 4rem 1rem 0;
}

.text table td:last-child, .text table th:last-child {
  padding-right: 0;
}

.text table th {
  font-size: 12px;
  color: #848484;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.text table tr {
  border-bottom: 1px dotted #CCCCCC;
}

.text table tbody tr:last-child {
  border-bottom: none;
}

.text hr {
  margin: 3rem 0;
  padding: 0;
  border: none;
  border-bottom: 1px dotted #CCCCCC;
}

.demos .component-stage {
  margin: 0;
}