/*!
 * Copyright 2017 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* --- Variables --- */

:root {
  --color-white: white;
  --color-blue: #0E26FC;
  --color-cyan: #52D0AF;
  --color-black: #3D3D3D; /* 24% */
  --color-darkgray: #848484; /* 52% */
  --color-midgray: #CCC; /* 80% */
  --color-semilightgray: #E6E6E6; /* 90% */
  --color-lightgray: #F8F8F8; /* 97% */
}

/* --- Reset --- */

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* --- General --- */

html {
  font-size: 8px;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar main";
  height: 100vh;

  font-family: "Neuzeit S LT Std", sans-serif;
  font-size: 16px;
  line-height: 1em;
  color: var(--color-black);
}

/* --- Sidebar --- */

aside {
  grid-area: sidebar;
  min-width: 220px;

  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

/* Header */

aside header {
  flex-grow: 0;
  flex-shrink: 0;

  background-color: var(--color-black);
  padding: 2rem;
  padding-top: 8rem;
}

aside header .title, aside header .title a {
  color: var(--color-white);
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 1rem;
  text-decoration: none;
}

/* Search */

.search {
  display: relative;
}

.search__field {
  display: block;
  width: 100%;
  border: none;

  padding: 1.4rem 2rem .8rem 2rem;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;

  border-radius: .5rem;
}

.search__field:focus {
  outline: none;
}

.search__clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-midgray);
  border-radius: 50%;
  color: var(--color-white);
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
}

/* Tree Navigation */

.tree-nav {
  flex-grow: 1;
  overflow-y: auto;

  background-color: var(--color-lightgray);
  padding: 4rem 2rem;
}

/* All ul */

.tree-nav ul {
  margin-left: 3rem;
  list-style: none;
}

.tree-nav ul li a {
  text-decoration: none;
  color: inherit;
  transition: color .3s;
  width: 100%;
  display: inline-block;
  padding-top: 1.5rem;
}

.tree-nav ul li a:hover {
  color: var(--color-blue);
}

.tree-nav ul li.is-active > a {
  color: var(--color-blue);
}

aside .ghosted {
  color: var(--color-midgray);
}

/* Top Level ul */

.tree-nav > ul {
  margin-left: 0;
}

.tree-nav > ul > li {
  margin-bottom: 4rem;
  font-weight: bold;
}

/* Lower Level ul */

.tree-nav ul ul li {
  font-weight: 300;
}

.tree-nav ul ul li::before {
  display: inline-block;
  content: "—";
  width: 1.3em;
  position: absolute;
  top: .7em;
  left: -1.3em;
}

.tree-nav ul ul li:hover::before, .tree-nav ul ul li.is-active::before {
  visibility: hidden;
}

.tree-nav ul ul li a::before {
  visibility: hidden;
  content: "→";
  width: 1.3em;
  position: absolute;
  top: .7em;
  left: -1.3em;
}

.tree-nav ul ul li:hover > a::before, .tree-nav ul ul li.is-active > a::before {
  visibility: visible;
}

/* --- Main --- */

main {
  grid-area: main;
  padding: 8rem;
  overflow-y: auto;
}

/* --- Node --- */

/* Crumbs */

.crumbs {
  margin-bottom: 2rem;
}
.crumbs ul {
  list-style: none;
  font-size: 16px;
  line-height: 1em;
}
.crumbs__crumb {
  display: inline;
}
.crumbs__crumb:after {
  color: var(--color-midgray);
  content: " / ";
}

/* Hide the current node*/
.crumbs__crumb:last-child {
  display: none;
}

.crumbs__crumb a {
  color: var(--color-midgray);
  text-decoration: none;
  transition: color .2s;
}
.crumbs__crumb a:hover {
  color: var(--color-blue);
}

/* Title */

h1 {
  font-size: 48px;
  line-height: 1.3em;
  margin-bottom: 4rem;
}

/* Description */

.description {
  font-size: 28px;
  line-height: 1.5em;
  margin-bottom: 2rem;
}

/* Keywords */

.keywords {
  user-select: none;
}

.keywords ul {
  list-style: none;
}

.keywords__keyword {
  display: inline-block;
  user-select: none;
}

.keywords__keyword a {
  cursor: pointer;
  background-color: var(--color-cyan);
  color: var(--color-white);
  text-decoration: none;
  font-size: 10px;
  line-height: 2.85em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .8em .8em .6em .8em;
  border-radius: .25rem;
}

/* Top-Stage */
.top-stage {
  margin: 8rem 0;
  width: 100%;
}

/* Info */

.info {
  /*display: flex;*/
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: -8rem;
}

/* Children Table */

.children-table {
  line-height: 1.6em;
  flex-grow: 1;
  max-width: 650px;
}

.children-table table {
  border-collapse: collapse;
  width: 100%;
}

.children-table table tr {
  border-bottom: 1px solid var(--color-semilightgray);
}

.children-table table tr:last-child {
  border-bottom: none;
}

.children-table table td {
  padding: 2.5rem 3rem 2rem 0;
  vertical-align: top;
}


.children-table table td a {
  text-decoration: none;
  color: inherit;
}

.children-table table td:first-child {
  text-align: right;
  width: 20%;
  font-weight: bold;
}


.two-columns {
  display: flex;
  flex-direction: row;
  margin: 8rem 0;
}

/* General-Doc */

.general-doc {
  max-width: 650px;
  flex-grow: 1;
}

.no-content-placeholder {
  border-radius: .5rem;
  background-color: var(--color-lightgray);
  padding: 2rem;
  padding-top: 2.6rem;
  width: 100%;

  line-height: 1em;
  color: var(--color-darkgray)
}

/* Files */

.files {
  padding-left: 8rem;
  flex-grow: 0;
  color: var(--color-darkgray);
}

/* Demos */

.demos {
  width: 100%;
  margin: 8rem 0;
}

/* API-Doc */

.api-doc {
  width: 100%;
  line-height: 1.5em;
  margin: 8rem 0;
}

/* --- Text Styling --- */

.text {
  line-height: 1.6em;
}

.text h1 {
  font-size: inherit;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.text h2 {
  font-size: 12px;
  color: var(--color-darkgray);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 4rem;
  margin-bottom: .5rem;
}

.text h1:first-child, .text h2:first-child {
  margin-top: 0;
}

.text p {
  margin-bottom: 1.7rem;
}

.text p:last-child {
  margin-bottom: 0;
}

.text a {
  color: inherit;
}

.text a[href^='search'] {
  cursor: pointer;
  background-color: var(--color-semilightgray);
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .8em .8em .6em .8em;
  border-radius: .25rem;
}

.text ul {
  margin-left: -4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text ul ul {
  margin-left: 0;
}

.text ul li {
  margin: .5rem 0 .5rem 4rem;
}

.text table {
  border-collapse: collapse;
  width: 100%;
  margin: 4rem 0;
}

.text table:last-child {
  margin-bottom: 0;
}

.text table td, .text table th {
  text-align: left;
  padding: 1rem 4rem .75rem 0;
  vertical-align: top;
}

.text table td:last-child, .text table th:last-child {
  padding-right: 0;
}

.text table th {
  font-size: 12px;
  color: var(--color-darkgray);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.text table tr {
  border-bottom: 1px dotted var(--color-midgray);
}

.text table tbody tr:last-child {
  border-bottom: none;
}

.text hr {
  margin: 3rem 0;
  padding: 0;
  border: none;
  border-bottom: 1px dotted var(--color-midgray);
}

.text code {
  background-color: var(--color-semilightgray);
  border: 2px solid var(--color-semilightgray);
  border-left-width: 3px;
  border-right-width: 3px;
  border-radius: 3px;
  font-family: "SF Mono", "Monaco", monospace;
  font-size: .9em;
  line-height: 1.2em;
  font-weight: normal;
}

.text pre {
  margin: 3rem 0;
  background-color: var(--color-lightgray);
  border: 1px solid var(--color-semilightgray);
  padding: 2rem;
  border-radius: 3px;
  overflow-x: auto;
}

.text pre code {
  background-color: transparent;
  border: none;
}

.text img, .text video {
  max-width: 100%;
  margin: 2rem 0;
}

.text blockquote {
  border-left: 2px solid var(--color-cyan);
  color: var(--color-darkgray);
  padding-left: 1.5rem;
  margin-left: -1.6rem;
  padding-top: .3em;
  margin-bottom: 1.7rem;
}

.component-stage {
  display: block;
  width: 100%;
  min-height: 300px;
  background-color: #F2F2F2;
  border: none;
}
