/**
 * Copyright 2019 Atelier Disko. All rights reserved. This source
 * code is distributed under the terms of the BSD 3-Clause License.
 */

.annotated-image {
  margin: var(--documentation-component-spacing) 0;
}

.annotated-image:first-child {
  margin-top: 0;
}

.annotated-image:last-child {
  margin-bottom: 0;
}

.annotated-image__stage {
  position: relative;
}

.annotated-image__badge {
  cursor: default;
  display: inline-block;
  height: calc(var(--spacing-unit) * 3);
  min-width: calc(var(--spacing-unit) * 3);
  border-radius: calc(var(--spacing-unit) * 2);
  background-color: var(--color-gray-800);
  color: black;

  font-size: var(--font-size-beta);
  line-height: calc(var(--spacing-unit) * 3);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  transition: all .3s;
  font-variant-numeric: tabular-nums;
}

.annotated-image__badge--highlight {
  background-color: var(--color-blue);
  color: white;
}

.annotated-image__marker {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all .3s;
}

.annotated-image__marker--highlight {
  transform: translate(-50%, -50%) scale(1.5);
}

.annotated-image__annotations {
  margin-top: calc(var(--spacing-unit) * 2);
}

.annotated-image__annotation {
  margin-bottom: calc(var(--spacing-unit) * 1.5);
}

.annotated-image__annotation:last-child {
  margin-bottom: 0;
}

.annotated-image__annotation .annotated-image__badge  {
  margin-right: calc(var(--spacing-unit) * 1);
}
