/**
 * Copyright 2020 Marius Wilms, Christoph Labacher. All rights reserved.
 * Copyright 2018 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* --- Reset --- */

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* --- General --- */

html {
  font-size: 8px;
}

/* --- App --- */

.app {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-gamma);
  line-height: 1.7em;
  color: var(--color-black);
}

.app_skip-to-content {
  background: var(--color-white);
  color: var(--color-black);
  font-size: var(--font-size-gamma);
  left: -9999px;
  padding: calc(var(--spacing-unit) * 0) calc(var(--spacing-unit) * 1);
  position: absolute;
  top: calc(var(--spacing-unit) * 1.5);
  height: calc(var(--spacing-unit) * 4);
  z-index: 4;
  border-radius: 3px;
  border: 1px solid var(--color-gray-800);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  line-height: calc(var(--spacing-unit) * 3.5);
}

.app_skip-to-content:focus {
  left: calc(var(--spacing-unit) * 1);
}

.app__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(var(--spacing-unit) * 40);
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--color-gray-800);
  z-index: 2;
}

.app__header {
  min-height: calc(var(--spacing-unit) * 7);
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: var(--font-size-gamma);
  line-height: 1.2em;
  padding: calc(var(--spacing-unit) * 1) calc(var(--spacing-unit) * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--color-gray-800);
  box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.app__title {
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.app__nav {
  height: calc(var(--spacing-unit) * 10);
  flex-grow: 1;
}

.app__shoutout {
  background-color: var(--color-gray-1000);
  padding: calc(var(--spacing-unit) * 1) calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 0.5)
    calc(var(--spacing-unit) * 2);
  color: var(--color-gray-500);
  font-size: var(--font-size-beta);
  border-top: 1px solid var(--color-gray-900);
  z-index: 2;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.15);
}

.app__shoutout a {
  color: inherit;
}

.app__main {
  padding-left: calc(var(--spacing-unit) * 40);
}

.app__mobile-header {
  min-height: calc(var(--spacing-unit) * 6);
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: var(--font-size-gamma);
  line-height: 1.2em;
  padding: calc(var(--spacing-unit) * 0) calc(var(--spacing-unit) * 3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-800);
  box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.15);
  z-index: 3;
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app__mobile-header-icon {
  margin-right: calc(var(--spacing-unit) * 1.5);
  /* Visually centers the icon */
  transform: translateY(1.5px);
}

.app__search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  pointer-events: none;
}

/* --- Responsive Mobile --- */

@media screen and (max-width: 900px) {
  .app__header {
    display: none;
  }

  .app__mobile-header {
    display: flex;
  }

  .app__sidebar {
    width: 100%;
    max-width: calc(var(--spacing-unit) * 40);
    right: 0;
    border-right-width: 2px;
    transform: translateX(-100%);
    transition: transform 0.5s;
    padding-top: calc(var(--spacing-unit) * 5);
    z-index: 3;
  }

  .app__sidebar--is-visible {
    transform: translateX(0%);
  }

  .app__main {
    padding-left: 0;
    padding-top: calc(var(--spacing-unit) * 5);
  }
}
