/**
 * Copyright 2020 Marius Wilms, Christoph Labacher. All rights reserved.
 * Copyright 2019 Atelier Disko. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

.react-playground__stage-frame {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  flex-grow: 1;
}

.react-playground__loading-message {
  text-align: center;
}
